.section
  = yield :timeline_heading

  %ol#timeline{ 'data-max-id' => (@statuses.empty? ? 0 : @statuses.first.id), 'data-min-id' => (@statuses.empty? ? 0 : @statuses.last.id) }
    = render :partial => 'statuses/status', :collection => @statuses

  = yield :pagination
