.section
  = yield :timeline_heading

  #new_statuses_notification{'data-count' => 0}
    = link_to '0 new tweet.', '', :id => 'statuses_update', :style => 'display: none'

  %ol#timeline{'data-max-id' => @statuses.empty? ? 0 : @statuses.first.id}
    = render :partial => 'status', :collection => @statuses

  = yield :pagination
