- content_for :timeline_heading do
  #timeline_heading
    %h1 Home

- content_for :pagination do
  = pagination :newer => root_path(:page => @newer_page), :older => root_path(:page => @older_page)

= render :partial => 'update'
= render :partial => 'timeline'
