- content_for :timeline_heading do
  #timeline_heading
    %h1 Public

- content_for :pagination do
  = pagination :newer => public_timeline_statuses_path(:page => @newer_page), :older => public_timeline_statuses_path(:page => @older_page)

= render :partial => 'update'
= render :partial => 'timeline'
