- content_for :timeline_heading do
  #timeline_heading
    %h1 Retweets By Others

- content_for :pagination do
  = pagination :newer => retweets_by_others_path(:page => @newer_page), :older => retweets_by_others_path(:page => @older_page)

= render :partial => 'update'
= render :partial => 'timeline'
